{% extends "main/base.html" %}
{% load static %}

{%block title %}Add Product {% endblock %}
{% block barraNavegacion %}
            <div>
            <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"   id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
                <li class="nav-item" role="presentation">
                  <button onclick="location.href='/settings'" class="nav-link rounded-5 active" id="settings" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Back</button>
                </li>
            </ul>
            </div>
            {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-outline-light" href="/home">Buscar</button>
    
</form>
{% endblock %}