{% extends "main/base.html" %}
{% load static %}

{% block title %}Reservas{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Reservas de Consolas:</h2>
        <table class="table table-dark table-hover" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr style="background-color: #f2f2f2;">
                    <th scope = "col" style="width:15%">Cliente</th>
                    <th scope = "col" style="width:25%">Consola</th>
                    <th scope = "col" style="width:50%">Acción</th>
                    <th scope = "col" style="width:10%">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservasConsola %}
                    <tr class ="table-info">
                        <td>{{ reserva.cliente.usuario.username }}</td>
                        <td>{{ reserva.stockConsola.consola.nombre }}</td>
                        <td>
                            <form method="post" action="{% url 'completeReserva' %}">
                                {% csrf_token %}
                                <input type="hidden" name="reserva_id" value="{{ reserva.id }}">
                                <input type="hidden" name="isVideojuego" value='false'>
                                {% if reserva.estado == "No completada" %}
                                    <button class="btn btn-success" type="submit">Completar Reserva</button>
                                {% else %}
                                    <button class="btn btn-danger" disabled>Completada</button>
                                {% endif %}
                            </form>
                        </td>
                        <td>{{ reserva.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Reservas de Videojuegos:</h2>
        <table class="table table-dark table-hover" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr style="background-color: #f2f2f2;">
                    <th scope = "col" style="width:15%">Cliente</th>
                    <th scope = "col" style="width:25%">Videojuego</th>
                    <th scope = "col" style="width:50%">Acción</th>
                    <th scope = "col" style="width:10%">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservasVideojuego %}
                    <tr class = "table-info">
                        <td>{{ reserva.cliente.usuario.username }}</td>
                        <td>{{ reserva.stockVideojuego.videojuego.nombre }}</td>
                        <td>
                            <form method="post" action="{% url 'completeReserva' %}">
                                {% csrf_token %}
                                <input type="hidden" name="reserva_id" value="{{ reserva.id }}">
                                <input type="hidden" name="isVideojuego" value='true'>
                                <button class="btn btn-success" type="submit">Completar Reserva</button>
                            </form>
                        </td>
                        <td>{{ reserva.estado }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
