{% extends "main/base.html" %}
{% load static %}

{% block title %}Configuración{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div>
        <a href="{% url 'password_change' %}">
            <button type="button" class="btn btn-outline-info mb-4 mt-4">Cambiar Contraseña</button>
        </a>
        <form action="{% url 'delete_account' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger mb-4">Eliminar Cuenta</button>
        </form>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-success mt-4">Cambiar tienda</button>
        </form>
    </div>
<div>
{% endblock %}