Pipfile
Pipfile.lock
sisinf/gameheaven/__pycache__/__init__.cpython-311.pyc
sisinf/gameheaven/__pycache__/admin.cpython-311.pyc
sisinf/gameheaven/__pycache__/apps.cpython-311.pyc
sisinf/gameheaven/__pycache__/forms.cpython-311.pyc
sisinf/gameheaven/__pycache__/models.cpython-311.pyc
sisinf/gameheaven/__pycache__/views.cpython-311.pyc
sisinf/gameheaven/Constantes/__pycache__/__init__.cpython-311.pyc
sisinf/gameheaven/Constantes/__pycache__/ConstantesVOs.cpython-311.pyc
sisinf/gameheaven/DAOs/__pycache__/__init__.cpython-311.pyc
sisinf/gameheaven/DAOs/__pycache__/daoProductos.cpython-311.pyc
sisinf/gameheaven/DAOs/__pycache__/daoTienda.cpython-311.pyc
sisinf/gameheaven/DAOs/__pycache__/daoUsuario.cpython-311.pyc
sisinf/gameheaven/migrations/__pycache__/__init__.cpython-311.pyc
sisinf/gameheaven/migrations/__pycache__/0001_initial.cpython-311.pyc
sisinf/sisinf/__pycache__/__init__.cpython-311.pyc
sisinf/sisinf/__pycache__/settings.cpython-311.pyc
sisinf/sisinf/__pycache__/urls.cpython-311.pyc
sisinf/sisinf/__pycache__/wsgi.cpython-311.pyc
