{% extends "main/base.html" %}
{% load static %}

{%block title %}Home{% endblock %}

{% block content %}
<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="form-check form-switch" >
        <input class="form-check-input" type="checkbox" role="switch" id="plataforma">
        <label class="form-check-label" for="plataforma">PS5</label>
        <label class="form-check-label" for="plataforma">XBOX SERIES</label>
        <label class="form-check-label" for="plataforma">SWITCH</label>
        <label class="form-check-label" for="plataforma">PC</label>

      </div>
    </div>
  </div>
{% endblock %}