{% extends "main/base.html" %}
{% load static %}
{%block title %}Home{% endblock %}

{% block content %}
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Desplegable
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="form-check form-switch" id="PS5" >
        <input class="form-check-input" type="checkbox" role="switch" id="PS5">
        <label class="form-check-label" for="PS5">PS5</label></div>
        <div class="form-check form-switch" id="XBOX_SERIES" >
        <input class="form-check-input" type="checkbox" role="switch" id="XBOX_SERIES">
        <label class="form-check-label" for="XBOX_SERIES">XBOX SERIES</label></div>
        <div class="form-check form-switch" id="SWITCH" >
        <input class="form-check-input" type="checkbox" role="switch" id="SWITCH">
        <label class="form-check-label" for="SWITCH">SWITCH</label></div>
        <div class="form-check form-switch" id="PC" >
        <input class="form-check-input" type="checkbox" role="switch" id="PC">
        <label class="form-check-label" for="PC">PC</label></div>
    </div>
  </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">Nuestros productos</h1>
                        <p>Estos son nuestros productos.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">Recientes</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">Mas caros</a>
                        </li>
                        <li class="nav-item me-0">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">Mas baratos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for producto in productos %}
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="product-item" width = 5%>
                                <div class="position-relative bg-light overflow-hidden"  >
                                    <li class="image-container" style="display: flex; justify-content: center; align-items: center; ">
                                        <img style="width: 200px; height: 200px; object-fit:scale-down;" class="img-fluid w-100" src="data:image/png;base64,{{ producto.img }}" alt="Image" >
                                    </li>
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" href="{% url 'producto' }">{{producto.nombre}}</a>
                                    <span class="text-primary me-1">$19.00</span>
                                    <span class="text-body text-decoration-line-through">$29.00</span>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                        <a class="text-body" href="{% url 'producto' }"><i class="fa fa-eye text-primary me-2"></i>Ver detalles></a>
                                    </small>
                                    <small class="w-50 text-center py-2">
                                        <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Reservar</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Browse More Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}