{% extends "main/base.html" %}
{% load static %}

{%block title %}Acerca de{% endblock %}

{% block content %}

 <!--<a href="https://twitter.com/gameheavenStore?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @gameheavenStore</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
 <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/gameheavenStore?ref_src=twsrc%5Etfw">Tweets by gameheavenStore</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 <div>
    <a href="https://www.github.com/mariooc04/gameheaven" type="image/x-icon">
        <img src="{% static 'img/github-mark.png' %}" alt="GitHub" width="50" height="50">
    </a>
</div>
{% endblock %}