{% extends "main/base.html" %}
{% load static %}
{% load customfilters %}


{% block title %}{{producto.nombre}}{% endblock %}

{% block content %}
    <h1>{{ producto.nombre }}</h1>

    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
    <p><strong>Valoración:</strong> {{ producto.valoracion }}</p>
    {% if producto.nombre|is_videojuego %}
    <p><strong>Plataforma:</strong> {{ producto.plataformas }}</p>
    {%endif%}

    <img style="width: 200px; height: 200px; object-fit:scale-down;" class="img-fluid w-100" src="data:image/png;base64,{{ producto.img }}" alt="Image" >


    <a href="{% url 'home' %}" class="btn btn-secondary">Back to List</a>

{% endblock %}